@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container .col .sidebar {
  width: 20%;
  background-color: black;
}
.container .col .sidebar .logo {
  display: flex;
  gap: 12px;
  padding: 30px;
}
.container .col .sidebar .logo p {
  font-size: 32px;
  color: white;
}
.container .col .sidebar .sidebar-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.container .col .sidebar .sidebar-content-links {
  overflow-y: scroll;
}
.container .col .sidebar .sidebar--content {
  padding-left: 25px;
}
.container .col .sidebar .sidebar--content .row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container .col .sidebar .sidebar--content p {
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-top: 48px;
}
.container .col .sidebar .sidebar--content ul {
  padding-left: 20px;
}
.container .col .sidebar .sidebar--content ul li a {
  text-decoration: none;
  color: white;
}
.container .col .sidebar .help {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  margin: 15px;
  padding: 25px;
  width: 213px;
  height: 180px;
  background: #00AEEF;
  border-radius: 6px;
}
.container .col .sidebar .help h1 {
  color: white;
  font-size: 22px;
}
.container .col .sidebar .help p {
  font-size: 16px;
  color: white;
}
.container .col .sidebar .help a {
  text-decoration: none;
  color: black;
}
.container .col .row .navbar {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 3px 8px 4px rgba(101, 101, 101, 0.05);
  width: 80%;
  height: 63px;
  top: 0;
  left: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 56px;
  gap: 24px;
}
.container .col .row .navbar .nav-item {
  display: flex;
  gap: 6px;
}
.container .col .row .navbar .nav-item a {
  color: #00AEEF;
  text-decoration: none;
}
.container .col .row .navbar .nav-item .black {
  color: black;
}
.container .col .row .navbar .profile {
  display: flex;
  gap: 24px;
  align-items: center;
}
.container .col .row .navbar .profile i {
  font-size: 24px;
}
.container .col .row .navbar .profile img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.container .col .row .navbar .profile .position {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.container .col .row .navbar .profile .position p {
  font-size: 16px;
}
.container .col .row .navbar .profile .position h3 {
  font-size: 12px;
  color: #696969;
}
.container .col .row .content {
  position: absolute;
  top: 8%;
  left: 20%;
  width: 80%;
}
.container .col .row .content .content-btn {
  display: flex;
  gap: 67%;
  margin-bottom: 10px;
}
.container .col .row .content .content-btn .white-button {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.container .col .row .content .btn {
  padding: 30px;
  display: flex;
  gap: 24px;
}
.container .col .row .content .btn .ri-arrow-left-line {
  top: 45px;
  color: white;
  left: 50px;
  position: absolute;
}
.container .col .row .content .btn .ri-arrow-right-line {
  position: absolute;
  left: 255px;
  color: white;
  top: 45px;
}
.container .col .row .content .btn input {
  width: 120px;
  height: 45px;
}
.container .col .row .content .home-btn {
  padding: 30px;
}
.container .col .row .content .home-btn input {
  width: 120px;
  height: 45px;
}
.container .col .row--content {
  background-color: white;
  width: 96%;
  height: 80%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 30px;
}
.container .col .row--content .content-button input {
  border: none;
  width: 100%;
  background-color: #00AEEF;
  height: 50px;
  border-radius: 6px;
  color: white;
  text-align: left;
  padding-left: 40px;
  font-size: 18px;
}
.container .col .row--content form {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container .col .row--content form input {
  width: 30%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}
.container .col .row--content form .hospital-fields {
  display: flex;
  gap: 48px;
}
.container .col .row--content form .hospital-fields .label-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.container .col .row--content form .hospital-fields .label-input input {
  width: 35vw;
  padding: 20px;
}
.container .col .row--content form .hospital-fields .label-input select {
  width: 35vw;
  padding: 10px;
  border-radius: 10px;
}
.container .col .row--content .save-action-button {
  padding-left: 40px;
  display: flex;
  gap: 24px;
  align-items: center;
  padding-bottom: 20px;
}
.container .col .row--content .save-action-button input {
  border-radius: 5px;
  width: 13%;
  height: 50px;
  border: none;
  font-size: 18px;
}
.container .col .row--content .save-action-button .ri-save-2-fill {
  position: absolute;
  left: 14%;
  color: rgb(247, 242, 242);
  font-size: 20px;
  top: 87%;
}
.container .col .row--content .save-action-button .ri-file-4-line {
  position: absolute;
  left: 27%;
  color: rgb(233, 231, 231);
  font-size: 20px;
  top: 87%;
}

.container {
  height: 100vh;
}
.container .row {
  display: flex;
  gap: 48px;
}
.container .row .col-1 {
  background: linear-gradient(0deg, rgba(7, 174, 239, 0.7), rgba(7, 174, 239, 0.7)), url("/static/images/jeshoots-com-LAwsF-VnFzc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 100vh;
}
.container .row .col-1 p {
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding-top: 350px;
  text-align: center;
}
.container .row .col-2 {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 20px;
  width: 70%;
  height: 100vh;
  overflow: scroll;
}
.container .row .col-2 h4 {
  width: 70%;
}
.container .row .col-2 .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.container .row .col-2 .text h1 {
  font-size: 45px;
  color: #07AEEF;
}
.container .row .col-2 .text h3 {
  font-size: 35px;
}
.container .row .col-2 .text p {
  font-size: 25px;
}
.container .row .col-2 form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .row .col-2 form input {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
}
.container .row .col-2 form .input-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.container .row .col-2 form .input-fields input {
  width: 100%;
}
.container .row .col-2 form .input-fields .field {
  width: 45%;
}
.container .row .col-2 form .check-box .checkbox-input {
  padding: 8px;
}
.container .row .col-2 form .check-box .checkbox-input a {
  color: #00AEEF;
}
.container .row .col-2 form select {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
}
.container .row .col-2 form .signup-btn {
  max-width: 200px;
  border: none;
  background-color: #00AEEF;
  color: #FFF;
  font-size: 18px;
  cursor: pointer;
  transition: linear 0.2s;
}
.container .row .col-2 form .signup-btn:hover {
  background: transparent;
  border: 1px solid #00AEEF;
  color: #00AEEF;
}
.container .row .col-2 form .submit-btn {
  background-color: #07AEEF;
  padding: 17px 35px;
  gap: 10px;
  width: 212px;
  height: 61px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.container .row .col-2 .smaller-forms {
  width: 100%;
}
.container .row .col-2 .smaller-forms .input-fields {
  flex-direction: column;
  height: 100%;
}
.container .row .col-2 .smaller-forms .input-fields .field {
  width: 70%;
}
.container .row .col-2 .smaller-forms .input-fields .field input {
  width: 100%;
}
.container .row .col-2 .links {
  margin-top: 10px;
}
.container .row .col-2 .links p {
  font-size: 24px;
}
.container .row .col-2 .links a {
  color: #00AEEF;
  font-size: 18px;
}

.container .row-login {
  display: flex;
  flex-direction: row;
  gap: 0px;
  width: 100%;
  height: 100vh;
}
.container .row-login .col-left {
  width: 50%;
  width: 60%;
  padding: 10%;
}
.container .row-login .col-left .text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container .row-login .col-left .text p {
  padding-bottom: 20px;
}
.container .row-login .col-left form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container .row-login .col-left form input {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 12px;
}
.container .row-login .col-left form .email {
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.container .row-login .col-left form .password {
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.container .row-login .col-left form .remember {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.container .row-login .col-left form .remember .check {
  display: flex;
  gap: 12px;
}
.container .row-login .col-left form .remember a {
  text-decoration: none;
  color: #07AEEF;
}
.container .row-login .col-left form .remember input {
  width: 15px;
  height: 20px;
}
.container .row-login .col-left .signin-btn {
  background-color: #07AEEF;
  padding: 17px 35px;
  gap: 10px;
  width: 212px;
  height: 61px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.container .row-login .col-right {
  width: 40%;
  background-color: #F5FAFC;
}
.container .row-login .col-right .circle {
  position: absolute;
  left: 73%;
  top: 40%;
}
.container .row-login .col-right .content-login {
  position: absolute;
  width: 40%;
  height: 579px;
  left: 53%;
  top: 350px;
}
.container .row-login .col-right .content-login p {
  position: absolute;
  color: #07AEEF;
  left: 61%;
  top: 70%;
  font-weight: bold;
}
.container .row-login .col-right .content-login a {
  text-decoration: none;
}
.container .row-login .col-right .content-login a i {
  position: absolute;
  left: 58%;
  font-size: 24px;
  top: 69.53%;
  color: #07AEEF;
}
.container .row-login .signup {
  padding-top: 70px;
}
.container .row-login .signup a {
  text-decoration: none;
  color: #07AEEF;
}

@media screen and (max-width: 540px) {
  .container .row {
    display: flex;
    flex-direction: column;
  }
  .container .row .col-1 {
    width: 100%;
    height: 30vh;
  }
  .container .row .col-1 p {
    padding-top: 100px;
  }
  .container .row .col-2 {
    padding-left: 40px;
  }
  .container .row .col-2 .text p {
    font-size: 18px;
  }
  .container .row .col-2 form .names {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .container .row .col-2 form .names input {
    width: 80%;
  }
  .container .row .col-2 form .phone-email {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .container .row .col-2 form .phone-email input {
    width: 80%;
  }
  .container .row .col-2 form .password {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .container .row .col-2 form .password input {
    width: 80%;
  }
}
@media screen and (max-width: 540px) {
  .container .row-login {
    display: flex;
    flex-direction: column;
  }
  .container .row-login .col-right .circle {
    position: absolute;
    width: 204px;
    height: 204px;
    left: 20%;
    top: 10%;
  }
  .container .row-login .col-right .content {
    display: none;
  }
  .container .row-login .col-left {
    width: 100%;
    padding-top: 400px;
  }
  .container .row-login .col-left h1 {
    text-align: center;
  }
  .container .row-login .col-left p {
    text-align: center;
    font-size: 24px;
  }
  .container .row-login .col-left .signup p {
    text-align: left;
    font-size: 18px;
  }
  .container .row-login .col-left .signup a {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */