

.container {
    .col {
        .sidebar {
            height: 150vh;

        }

        .row {
            .content {
                .row--add-patient {
                    .content-button {
                        padding: 30px;

                        input {
                            background-color: #0F76BC;
                        }

                    }

                    .hospital-fields {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        padding: 30px;
                        .label-input {
                            display: flex;
                            flex-direction: column;
                            gap: 12px;


                            input {
                                width: 35vw;
                                padding: 20px;
                            }

                            select {
                                width: 35vw;
                                padding: 10px;
                                border-radius: 10px;
                            }
                        }

                        .radio-input {
                            input {
                                margin: 10px;
                                width: 20px;
                                height: 20px;
                                padding: 0;

                            }
                        }
                    }


                }

                .row--content {
                    height: 60vw;

                    .save-action-button {
                        .ri-save-2-fill{
                        
                            top: 127.5vh;
                        }
                        .ri-file-4-line{
                            
                            top: 127.5vh;
                        }
                    }
                }
            }
        }

    }
}