@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #DEEEFA;
  color: rgb(55, 55, 55);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.link {
  cursor: pointer;
}

.branding {
  display: flex;
  align-items: center;
  gap: 6px;
}
.branding .logo {
  height: 21px;
}
.branding .system-title {
  font-size: 18px;
}

.left-menu {
  background-color: #0E76BC;
  width: 300px;
  color: white;
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scrollbar-width: none;
  /* hide the scrollbar */
  scrollbar-color: #0E76BC transparent;
  /* set scrollbar color */
}
.left-menu::-webkit-scrollbar {
  display: none;
}
.left-menu .menu {
  display: grid;
  gap: 24px;
}
.left-menu .menu .menu-items {
  display: grid;
  gap: 24px;
}
.left-menu .menu .menu-items hr {
  color: white;
}
.left-menu .menu .menu-items li {
  font-size: 18px;
  font-weight: bold;
}
.left-menu .menu .menu-items li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
}
.left-menu .menu .menu-items .dropdwon {
  cursor: pointer;
}
.left-menu .menu .menu-items .dropdwon .dropdown-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-menu .menu .menu-items .dropdwon .dropdown-content {
  padding: 12px 0;
  display: grid;
  gap: 12px;
}
.left-menu .menu .menu-items .dropdwon .dropdown-content a {
  font-size: 16px;
  font-weight: lighter;
}
.left-menu .menu .menu-items .dropdwon .dropdown-content .button {
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 35px;
  color: #0E76BC;
  border-radius: 6px;
}
.left-menu .menu .menu-items .dropdwon .dropdown-content-class {
  animation-name: dropDownAmimation;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-iteration-count: initial;
}
@keyframes dropDownAmimation {
  0% {
    height: 0;
  }
  20% {
    height: 100px;
  }
  30% {
    height: 110px;
  }
  40% {
    height: 130px;
  }
  50% {
    height: 150px;
  }
  60% {
    height: 150px;
  }
  70% {
    height: 150px;
  }
  85% {
    height: 170px;
  }
  95% {
    height: 175px;
  }
  100% {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.left-menu .menu .menu-items .dropdwon .hidden {
  display: none;
}
.left-menu .site-info {
  background-color: white;
  color: gray;
  padding: 30px;
  border-radius: 6px;
  display: grid;
  gap: 6px;
  margin-top: 20px;
}
.left-menu .site-info .title {
  color: #0E76BC;
}
.left-menu .site-info a {
  color: #0E76BC;
}

.content {
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 20px;
  position: relative;
}
.content .top-nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom-left-radius: 6px;
  z-index: 100;
}
.content .top-nav .mobile-menu-icon,
.content .top-nav .close-mobile-menu-icon,
.content .top-nav .branding {
  display: none;
}
.content .top-nav .right-content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
}
.content .top-nav .right-content .notification {
  position: relative;
}
.content .top-nav .right-content .notification .bell path {
  fill: black !important;
}
.content .top-nav .right-content .notification .red-dot {
  position: absolute;
  right: 3px;
}
.content .top-nav .right-content .profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}
.content .top-nav .right-content .profile .info .name {
  font-weight: bold;
}
.content .top-nav .right-content .profile .info .name p {
  text-transform: capitalize;
}
.content .top-nav .right-content .profile .info .position {
  font-weight: lighter;
  font-size: 12px;
}
.content .top-nav .right-content .profile .info .position p {
  text-transform: capitalize;
}
.content .top-nav .right-content .profile-popup {
  visibility: hidden;
  position: absolute;
  background-color: white;
  box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.25);
  width: 367px;
  top: 40px;
  right: 0;
  padding: 30px 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: end;
}
.content .top-nav .right-content .profile-popup .close-text {
  cursor: pointer;
}
.content .top-nav .right-content .profile-popup .close-text p {
  text-decoration: underline;
}
.content .top-nav .right-content .profile-popup .profile-summary,
.content .top-nav .right-content .profile-popup .profile-links {
  width: 100%;
}
.content .top-nav .right-content .profile-popup .profile-summary {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.content .top-nav .right-content .profile-popup .profile-summary .summary-items {
  padding: 12px 20px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 6px;
}
.content .top-nav .right-content .profile-popup .profile-summary .summary-items .summart-item {
  display: flex;
  gap: 6px;
}
.content .top-nav .right-content .profile-popup .profile-summary .summary-items .summart-item span {
  font-weight: bold;
}
.content .top-nav .right-content .profile-popup .profile-links {
  display: grid;
  gap: 24px;
}
.content .top-nav .right-content .profile-popup .profile-links .link {
  border-bottom: 1px solid rgb(196, 196, 196);
  padding-bottom: 3px;
}
.content .main-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 20px;
}
.content .numbers .cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.content .numbers .cards .card {
  background-color: white;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 6px;
}
.content .numbers .cards .card .card-img {
  width: 30px;
}
.content .numbers .cards .card .number-content .text {
  color: gray;
}
.content .numbers .cards .card .number-content .number p {
  font-weight: bold;
  font-size: 18px;
}
.content .charts .charts-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
}
.content .charts .charts-container .chart {
  background-color: white;
  max-height: 350px;
  border-radius: 6px;
  padding: 24px;
}
.content .charts .charts-container .census {
  width: 40%;
}
.content .charts .charts-container .turnovers {
  background-color: white;
  width: 60%;
}
.content .measures table {
  background-color: white;
  border-radius: 6px;
  padding: 12px;
}
.content .measures table th,
.content .measures table td {
  padding: 3px 6px;
  text-align: start;
}

@media screen and (max-width: 1360px) {
  .content .numbers {
    padding-left: 20px;
  }
  .content .numbers .cards {
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
  }
  .content .numbers .cards .card {
    width: -moz-fit-content;
    width: fit-content;
  }
  .content .charts {
    padding-left: 20px;
  }
  .content .measures {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1001px) {
  .left-menu {
    position: absolute;
    display: none;
    z-index: 100;
    top: 70px;
  }
  .left-menu .branding {
    display: none;
  }
  .content .top-nav {
    background-color: #0E76BC;
    color: white;
    border-bottom-left-radius: 0;
  }
  .content .top-nav .bread-crumbs {
    display: none;
  }
  .content .top-nav .branding,
  .content .top-nav .mobile-menu-icon {
    display: block;
  }
  .content .top-nav .branding:hover,
  .content .top-nav .mobile-menu-icon:hover {
    cursor: pointer;
  }
  .content .top-nav .close-mobile-menu-icon:hover {
    cursor: pointer;
  }
  .content .top-nav .right-content .notification-text {
    display: none;
  }
  .content .top-nav .right-content .notification {
    position: relative;
  }
  .content .top-nav .right-content .notification .bell path {
    fill: white !important;
  }
  .content .top-nav .right-content .profile .info .name {
    font-size: 12px;
  }
  .content .top-nav .right-content .profile .info .position {
    font-size: 10px;
  }
  .content .charts .charts-container .turnovers {
    width: 55%;
  }
}
@media screen and (max-width: 760px) {
  .left-menu {
    position: absolute;
    display: none;
    z-index: 100;
    top: 70px;
  }
  .left-menu .branding {
    display: none;
  }
  .content {
    height: auto;
    overflow-y: unset;
  }
  .content .top-nav {
    background-color: #0E76BC;
    color: white;
    border-bottom-left-radius: 0;
  }
  .content .top-nav .bread-crumbs {
    display: none;
  }
  .content .top-nav .right-content .notification-text,
  .content .top-nav .right-content .notification {
    display: none;
  }
  .content .top-nav .right-content .profile .info .name {
    font-size: 12px;
  }
  .content .top-nav .right-content .profile .info .position {
    font-size: 10px;
  }
  .content .top-nav .right-content .profile-popup {
    color: rgb(56, 56, 56);
  }
  .content .main-content {
    padding: 10px;
  }
  .content .numbers .cards {
    flex-wrap: wrap;
    gap: 12px;
  }
  .content .numbers .cards .card {
    width: 48%;
  }
  .content .charts .charts-container {
    flex-direction: column;
  }
  .content .charts .charts-container .census {
    width: 100%;
  }
  .content .charts .charts-container .turnovers {
    width: 100%;
  }
  .content .measures {
    overflow-x: scroll;
  }
}/*# sourceMappingURL=index.css.map */