{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/adddepartment.css' %}">
    <script src="{% static '/javascripts/main.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Add Department</title>
</head>

<body>
    <div class="container">
        <div class="col col-1">
            <div class="sidebar">
                <div class="logo">
                    <img src="{% static '/images/logo (3) 2 (1) 1.png' %}" alt="">
                    <p>KPIs</p>
                </div>
                <div class="sidebar--content">
                    <div class="row">
                        <p>Adding User</p>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Margum</a>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Prague</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Prague</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Carnegie</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Seiling</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar--content">
                    <div class="row">
                        <p>RHC</p>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Margum</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Prague</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Prague</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Carnegie</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Seiling</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar--content">
                    <div class="row">
                        <p>Labor Tracker</p>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Margum</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Prague</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href=""> Prague</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Carnegie</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="{% static '/images/Vector.svg' %}" alt="">
                                <a href="">Seiling</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="help">
                    <h1>Need Support?</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                    </p>
                    <a href="">Contact Admin</a>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="row">
                <div class="navbar">
                    <div class="nav-item">

                        <a href="" class="black">
                            <p>KPI Tool</p>
                        </a>
                        <i class="ri-arrow-right-s-line"></i>
                        <a href="" class="black">
                            <p>Users</p>
                        </a>
                        <i class="ri-arrow-right-s-line"></i>
                        <a href="">
                            <p>Add New Department</p>
                        </a>

                    </div>
                    <div class="nav-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. </p>
                    </div>

                    <div class="profile">
                        <div class="bell">
                            <i class="ri-notification-fill"></i>
                        </div>
                        <img src="{% static '/images/jeshoots-com-LAwsF-VnFzc-unsplash.jpg' %}" alt="">
                        <div class="position">
                            <p>Godwin Feh</p>
                            <h3>CEO</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="content">
                    <div class="content-btn">
                        <div class="btn">
                            <a href="">
                                <i class="ri-arrow-left-line"></i>
                                <input type="button" class="blue-btn" value="Back">
                            </a>
                            <a href="">
                                <input type="button" class="light-blue" value="Next">
                                <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>
                        <div class="home-btn">
                            <a href="">
                                <input type="button" class="white-button" value="Home">
                            </a>
                        </div>
                    </div>

                    <div class="row--content">
                        <div class="content-button">

                            <input type="button" value="Add User">
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="hospital-fields">
                                <div class="label-input">
                                    <label for="departmentid">Department ID</label>
                                    <input type="number" name="departmentid" id="departmentid">
                                </div>
                                <div class="label-input">
                                    <label for="name">Department Name</label>
                                    <input type="text" name="name" id="name">
                                </div>
                            </div>
                            <div class="hospital-fields">
                                <div class="label-input">
                                    <label for="hospital">Hospital</label>
                                    <select name="hospital" id="hospital">
                                        {% for hospital in hospitals %}
                                            <option value="{{ hospital.id }}">{{ hospital.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="save-action-button">
                                <input type="submit" value="Save Record" class="blue-btn">
                                <input type="button" value="Save Draft" class="light-blue">
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>