{% extends 'dashboard/form-template.html' %}

{% block content %}

{% comment %} <h4>
    Lorem ipsum dolor sit amet sapiente similique ad ipsum cumque corporis commodi? Molestias, ipsum ullam quam recusandae laborum sint animi!
</h4> {% endcomment %}
<form method='POST' class='smaller-forms'>
    {% csrf_token %}
    {% comment %} {{form.as_p}} {% endcomment %}
    <div class='input-fields '>
        <div class="field">
            {{form.new_hires.label}}
            {{form.new_hires}}
        </div>
        <div class="field">
            {{form.hospital.label}}
            {{form.hospital}}
        </div>
        <div class="field">
            {{form.date_entered.label}}
            {{form.date_entered}}
        </div>
        <div class="field">
            {{form.date_created.label}}
            {{form.date_created}}
        </div>
    
    </div>
    <div class="measures-btns">
        <button type='submit' class='submit-btn blue-btn'>Submit</button>
        <button class="blue-btn">
            <a href="{% url 'single-hospital' hospital_id=user_hospital_id %}">Back to dashboard</a>
        </button>
    </div>
    
    <!-- <button type='submit' class='submit-btn blue-btn'>Submit</button> -->
</form>
{% endblock content %}