<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/addpatient.css">
    <script src="/assets/javascripts/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Add Patient</title>
</head>
<body>
    <div class="container">
        <div class="col">
            <div class="sidebar">
                <div class="logo">
                    <img src="/assets/images/logo (3) 2 (1) 1.png" alt="">
                    <p>KPIs</p>
                </div>
                <div class="sidebar--content">
                    <div class="row">
                    <p>Adding User</p>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Margum</a>
                        </li>
                    </ul>
                
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Prague</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Prague</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Carnegie</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Seiling</a>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="sidebar--content">
                    <div class="row">
                    <p>RHC</p>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Margum</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Prague</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Prague</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Carnegie</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Seiling</a>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="sidebar--content">
                    <div class="row">
                    <p>Labor Tracker</p>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Margum</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Prague</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href=""> Prague</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Carnegie</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/assets/images/Vector.svg" alt="">
                            <a href="">Seiling</a>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="help">
                    <h1>Need Support?</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. </p>
                    <a href="">Contact Admin</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
            <div class="navbar">
            <div class="nav-item">
                
                <a href="" class="black"><p>KPI Tool</p></a>
                <i class="ri-arrow-right-s-line"></i>
               <a href="" class="black"><p>Users</p></a> 
                <i class="ri-arrow-right-s-line"></i>
                <a href=""><p>Add New patient</p></a>
                
            </div>
            <div class="nav-text">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. </p>
            </div>
            
            <div class="profile">
                <div class="bell">
                    <i class="ri-notification-fill"></i>
                </div>
                <img src="/assets/images/jeshoots-com-LAwsF-VnFzc-unsplash.jpg" alt="">
                <div class="position">
                    <p>Godwin Feh</p>
                    <h3>CEO</h3>
                </div>
            </div>
            </div>
        </div>
            <div class="row">
            <div class="content">
                <div class="content-btn">
                <div class="btn">
                <a href="">
                    <i class="ri-arrow-left-line"></i>
                    <input type="button" class="blue-btn" value="Back">
                </a>
                <a href="">
                    <input type="button" class="light-blue" value="Next">
                    <i class="ri-arrow-right-line"></i>
                </a>
                </div>
            <div class="home-btn">
            <a href="">
                <input type="button" class="white-button" value="Home">
            </a>
            </div>
            </div>
        
        <div class="row--content">
            <div class="content-button">
                
                <input type="button" value="Add User">
            </div>
        <div class="row--add-patient">
            <div class="hospital-fields">
                <div class="label-input">
                    <label for="patientstatus">PATIENT-STATUS</label>
                    <select name="patient" id="patient" >
                        <option value="">Select patient status</option>
                        <option value="hospital">Pharmacy</option>
                        <option value="hospital">Emergency Room</option>
                        <option value="hospital">Laboratory</option>
                        <option value="hospital">Stock</option>
                      </select>
                </div>
                <div class="label-input">
                    <label for="patientstatus">EMERGENCY-ROOM</label>
                <div class="radio-input">
                    <input type="radio" name="yes" id="yes" value="yes">Yes
                    <input type="radio" name="no" id="no" value="no">No
                </div>
                </div>
                <div class="label-input">
                    <label for="medicaladvice">MEDICAL ADVICE</label>
                    <select name="medical" id="medical" >
                        <option value="">Select medical advice</option>
                        <option value="hospital">Pharmacy</option>
                        <option value="hospital">Emergency Room</option>
                        <option value="hospital">Laboratory</option>
                        <option value="hospital">Stock</option>
                      </select>
                </div>
        
                </div>
            
                <div class="content-button">
                
                    <input type="button" value="Personal Information">
                </div>
            </div>
            <form action="">
            <div class="hospital-fields">
            <div class="label-input">
                <label for="patientid">Patient ID</label>
                <input type="number" name="patientid" id="">
            </div>
            <div class="label-input">
                <label for="firstname">First  Name</label>
                <input type="text" name="firstname" id="">
            </div>
    
            </div>
                <div class="hospital-fields">
                <div class="label-input">
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" id="">
            </div>
            <div class="label-input">
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="">
            </div>
            
                </div>
                <div class="hospital-fields">
                    <div class="label-input">
                        <label for="birthday">Birthday</label>
                        <input type="datetime-local" id="birthdaytime" name="birthdaytime">

                    </div>
                    <div class="label-input">
                        <label for="diagnosis">Diagnosis</label>
                        <input type="text" name="diagnosis" id="">
                    </div>
            
                    </div>
                        <div class="hospital-fields">
                        <div class="label-input">
                        <label for="observation"> Observation</label>
                        <input type="text" name="observation" id="">
                    </div>
                    <div class="label-input">
                        <label for="readmissions">Readmissions</label>
                        <input type="text" name="readmissions" id="">
                           
                    </div>
                        </div>
                        <div class="hospital-fields">
                            <div class="label-input">
                            <label for="doctor">Doctor</label>
                            <select name="doctor" id="doctor" >
                                <option value="">Select doctor </option>
                                <option value="nurse">Nurse</option>
                                <option value="doctor">Doctor</option>
                                <option value="worker">Worker</option>
                                <option value="doctor">Doctor</option>
                              </select>
                            
                        </div>
                        <div class="label-input">
                            <label for="hospital">Hospital</label>
                            <select name="hospital" id="hospital" >
                                <option value="">Select Hospital</option>
                                <option value="hospital">King faisar</option>
                                <option value="hospital">CHK</option>
                                <option value="hospital">Rwamagana</option>
                                <option value="hospital">Kacyiru</option>
                              </select>
                        </div>
                        
                            </div>
            </form>
            <div class="save-action-button">
                
                <input type="button" value="Save Record" class="blue-btn">
                <i class="ri-save-2-fill"></i>
                <input type="button" value="Save Draft" class="light-blue" >
                <i class="ri-file-4-line"></i>
            </div>
        </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>