{% extends 'dashboard/form-template.html' %}

{% block content %}
<form method='POST' class='smaller-forms'>
    {% csrf_token %}
    {% comment %} {{form.as_p}} {% endcomment %}
    <div class='input-fields'>
        <div class="field">
            {{form.total.label}}
            {{form.total}}
        </div>
        <div class="field">
            {{form.voluntary.label}}
            {{form.voluntary}}
        </div>
        
        <div class="field">
            {{form.date_entered.label}}
            {{form.date_entered}}
        </div>
        <div class="field">
            {{form.date_created.label}}
            {{form.date_created}}
        </div>
        <div class="field">
            {{form.hospital.label}}
            {{form.hospital}}
        </div>
    
    </div>
    
    <button type='submit' class='submit-btn blue-btn'>Submit</button>
</form>
{% endblock content %}