{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/feedback-form.css' %}">
</head>

<body>
    <section class="feedback container">
        <h1 class="title">Give you feedback</h1>
        <p>
            We value your feedback! Please share your thoughts and suggestions to help us improve the system.
        </p>

        <div class="form">
            <form method='POST'>
                {% csrf_token %}
                <div class="fields">
                    <div class="field">
                        <div class="label">
                            First name
                        </div>
                     
                        {{form.first_name}}
                    </div>

                    <div class="field">
                        <div class="label">
                            Second name
                        </div>
                       
                        {{form.last_name}}
                    </div>
                </div>
                <div class="field">
                    <div class="label">
                        Email
                    </div>
                  
                    {{form.email}}
                </div>
                <div class="field">
                    <div class="label">
                        hospital
                    </div>
                    
                    {{form.hospital}}
                </div>
                <div class="field yes-no">
                    <div class="label">
                        Is the software easy to install and set up? Were there any difficulties encountered during the
                        installation process?
                    </div>
                    <div class="choices">
                        
                        {% for radio in form.is_installable %}
                        {{ radio.tag }}
                        {{ radio.choice_label }}
                       
                        
                        {% endfor %}
                    </div>

                </div>

                <div class="field choice-input-answer">
                   
                    {{form.installable_description}}
                </div>

                <div class="field yes-no">
                    <div class="label">
                        How intuitive is the user interface? Did you find it easy to navigate, read or add data?
                    </div>
                    <div class="choices">
                     
                        {% for radio in form.is_UI_intuitive %}
                        {{ radio.tag }}
                        {{ radio.choice_label }}
                        {% endfor %}
                    </div>
               
                    {{form.intuitive_description}}
                </div>

                <div class="field yes-no">
                    <div class="label">
                        Were all the features and functionalities clear to you? Were there any features that you felt
                        were missing or could be improved?
                    </div>
                    <div class="choices">
                       
                        {% for radio in form.are_features_clear %}
                        {{ radio.tag }}
                        {{ radio.choice_label }}
                        {% endfor %}
                    </div>
              
                    {{form.features_description}}
                </div>

                <div class="field yes-no">
                    <div class="label">
                        Did the software meet your expectations?
                    </div>
                    <div class="choices">
                        
                        {% for radio in form.are_expectations_met %}
                        {{ radio.tag }}
                        {{ radio.choice_label }}
                        {% endfor %}
                    </div>

                    {{form.expectations_descriptions}}
                </div>

                <div class="field yes-no">
                    <div class="label">
                        Did you encounter any bugs or technical issues while using the software?
                    </div>
                    <div class="choices">
                   
                        {% for radio in form.is_bug_free %}
                        {{ radio.tag }}
                        {{ radio.choice_label }}
                        {% endfor %}
                    </div>

                    {{form.bug_description}}
                </div>

                <div class="field yes-no">
                    <div class="label">
                        How would you rate the performance and speed of the software? Did it respond quickly and
                        efficiently?
                    </div>
                    <div class="choices">
                       
                        {% for radio in form.is_quick %}
                        {{ radio.tag }}
                        {{ radio.choice_label }}
                        {% endfor %}
                    </div>
                    
                    {{form.quick_description}}
                </div>

                <div class="field yes-no">
                    <div class="label">
                        How satisfied are you with the overall user experience?
                    </div>
                    <div class="choices" style="display: flex;flex-direction:column;" >
                       
                        <div style="display: flex; width:100%; gap:10px; justify-content:space-around;">
                            {% for radio in form.satisfaction_rate %}
                        <div style="display: flex; flex-direction:column; align-items:center; gap:10px;">
                            {{ radio.tag }}
                            {{ radio.choice_label }}
                        </div>
                        {% endfor %}
                        </div>
                       
                        <div class='field' style="width:100%;">
                            {{form.satisfaction_description}}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            What additional features would you like to see in future versions of the software?
                        </div>
                       
                        {{form.additional_feature}}
                    </div>

                    <div class="field">
                        <div class="label">
                            More Notes
                        </div>
                       
                        {{form.feedback_text}}
                    </div>
                    <input type="submit" value="Submit your feedback">
            </form>
        </div>
    </section>
    <script src="/feedback-form.js"></script>
</body>

</html>