{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/dashboard/css/index.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Dashboard</title>
  </head>

  <body>
    <div class="row">
      <div class="col left-menu">
        <div class="menu">
          <div class="branding">
            <img
              src="{% static '/dashboard/img/ch-white-logo.svg' %}"
              alt=""
              class="logo"
            />
            <h1 class="system-title">CH KPIs Tool</h1>
          </div>
          <url class="menu-items">
            <li class="menu-item">
              <a href=""
                ><img
                  src="{% static '/dashboard/img/icons/tachometer-alt.svg' %}"
                  alt=""
                  class="menu-icons"
                />
                <span>Dashboard</span></a
              >
            </li>
            <hr />
            <li class="menu-item dropdwon">
              <div class="dropdown-text">
                <span>Hospitals</span
                ><img
                  src="{% static '/dashboard/img/icons/ange-righ.svg' %}"
                  alt=""
                />
              </div>
              <div class="dropdown-content">
                <a href="" class="button"
                  ><span>Add data</span
                  ><img
                    src="{% static '/dashboard/img/icons/plus.svg' %}"
                    alt=""
                /></a>
                <a href="">Mangum</a>
                <a href="">Prague</a>
                <a href="">Pawhuska</a>
                <a href="">Carnegie</a>
                <a href="">Seilling</a>
              </div>
            </li>
            <hr />
            <li class="menu-item dropdwon">
              <div class="dropdown-text">
                <span>RHC</span
                ><img
                  src="{% static '/dashboard/img/icons/ange-righ.svg' %}"
                  alt=""
                />
              </div>
              <div class="dropdown-content hidden">
                <a href="">Mangum</a>
                <a href="">Prague</a>
                <a href="">Pawhuska</a>
                <a href="">Carnegie</a>
                <a href="">Seilling</a>
              </div>
            </li>
            <hr />
            <li class="menu-item dropdwon">
              <div class="dropdown-text">
                <span>Labor Tracker</span
                ><img
                  src="{% static '/dashboard/img/icons/ange-righ.svg' %}"
                  alt=""
                />
              </div>
              <div class="dropdown-content hidden">
                <a href="">Mangum</a>
                <a href="">Prague</a>
                <a href="">Pawhuska</a>
                <a href="">Carnegie</a>
                <a href="">Seilling</a>
              </div>
            </li>
          </url>
        </div>

        <div class="site-info">
          <h3 class="title">Need support?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
            mi. Aliquam in hendrerit urna.
          </p>
          <a href="">Contact admin</a>
        </div>
      </div>
      <div class="col content">
        <div class="top-nav">
          <div class="mobile-menu-icon">
            <img src="{% static '/dashboard/img/menu-icon.svg' %}" alt="" />
          </div>
          <div class="close-mobile-menu-icon">
            <span>Close</span>
          </div>
          <div class="branding">
            <img
              src="{% static '/dashboard/img/ch-white-logo.svg' %}"
              alt=""
              class="logo"
            />
            <h1 class="system-title">KPIs Tool</h1>
          </div>
          <div class="bread-crumbs">
            <p>KPI Toll > Godwin Feh > Overview</p>
          </div>
          <div class="right-content">
            <div class="notification">
              <!-- <img class="bell" src="{% static '/dashboard/img/icons/bell.svg' %}" alt=""> -->
              <svg
                class="bell"
                width="23"
                height="25"
                viewBox="0 0 23 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.5 25C13.2246 25 14.6236 23.6011 14.6236 21.875H8.3765C8.3765 23.6011 9.77542 25 11.5 25ZM22.0171 17.6899C21.0738 16.6763 19.3086 15.1514 19.3086 10.1562C19.3086 6.3623 16.6485 3.3252 13.0616 2.58008V1.5625C13.0616 0.699707 12.3623 0 11.5 0C10.6377 0 9.93851 0.699707 9.93851 1.5625V2.58008C6.3516 3.3252 3.69144 6.3623 3.69144 10.1562C3.69144 15.1514 1.9263 16.6763 0.982944 17.6899C0.689975 18.0049 0.560092 18.3813 0.562534 18.75C0.567905 19.5508 1.19632 20.3125 2.12992 20.3125H20.8702C21.8037 20.3125 22.4327 19.5508 22.4375 18.75C22.44 18.3813 22.3101 18.0044 22.0171 17.6899Z"
                />
              </svg>
              <img
                src="{% static '/dashboard/img/icons/red-dot.svg' %}"
                alt=""
                class="red-dot"
              />
            </div>
            <div class="profile">
              <img
                src="{% static '/dashboard/img/icons/profile-img.svg' %}"
                alt=""
                class="profile-img"
              />
              <div class="info">
                <p class="name">Godwin FEH</p>
                <p class="position">Founder & CEO</p>
              </div>
            </div>
          </div>
        </div>

        <div class="main-content numbers">
          <h1 class="title">Quick numbers</h1>
          <div class="cards">
            <div class="card">
              <img
                class="card-img"
                src="{% static '/dashboard/img/icons/inpatient.svg' %}"
                alt=""
                class="number-img"
              />
              <div class="number-content">
                <div class="text">Inpatient</div>
                <div class="number">
                  <p>66</p>
                </div>
              </div>
            </div>
            <div class="card">
              <img
                class="card-img"
                src="{% static '/dashboard/img/icons/outpatient.svg' %}"
                alt=""
                class="number-img"
              />
              <div class="number-content">
                <div class="text">Outpatient</div>
                <div class="number">
                  <p>66</p>
                </div>
              </div>
            </div>
            <div class="card">
              <img
                class="card-img"
                src="{% static '/dashboard/img/icons/swing-bed.svg' %}"
                alt=""
                class="number-img"
              />
              <div class="number-content">
                <div class="text">Swing bed</div>
                <div class="number">
                  <p>66</p>
                </div>
              </div>
            </div>
            <div class="card">
              <img
                class="card-img"
                src="{% static '/dashboard/img/icons/acute-bed.svg' %}"
                alt=""
                class="number-img"
              />
              <div class="number-content">
                <div class="text">Acute bed</div>
                <div class="number">
                  <p>66</p>
                </div>
              </div>
            </div>
            <div class="card">
              <img
                class="card-img"
                src="{% static '/dashboard/img/icons/emergency-room.svg' %}"
                alt=""
                class="number-img"
              />
              <div class="number-content">
                <div class="text">Emergency room</div>
                <div class="number">
                  <p>66</p>
                </div>
              </div>
            </div>
            <div class="card">
              <img
                class="card-img"
                src="{% static '/dashboard/img/icons/rural health clinic.svg' %}"
                alt=""
                class="number-img"
              />
              <div class="number-content">
                <div class="text">Rural health clinic</div>
                <div class="number">
                  <p>60</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-content charts">
          <h1 class="title">Charts</h1>

          <div class="charts-container">
            <div class="chart census">
              <h3 class="title">Census</h3>
              <canvas id="motalityRate"></canvas>
            </div>
            <div class="chart turnovers">
              <h3 class="title">Turnovers</h3>
              <canvas id="turnOvers"></canvas>
            </div>
          </div>
        </div>
        <div class="main-content measures">
          <h1 class="title">Measures</h1>
          <table id="myTable">
            <tr style="background-color: red">
              <th>Measures/Month</th>
              <th>Jan</th>
              <th>Feb</th>
              <th>Marc</th>
              <th>April</th>
              <th>May</th>
              <th>June</th>
              <th>July</th>
              <th>Aug</th>
              <th>Sept</th>
              <th>Oct</th>
              <th>Nov</th>
              <th>Dec</th>
            </tr>
            <tr>
              <td>Re-admissions</td>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
              <td>21</td>
              <td>4</td>
              <td>10</td>
              <td>4</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Re-admissions</td>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
              <td>21</td>
              <td>4</td>
              <td>10</td>
              <td>4</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Re-admissions</td>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
              <td>21</td>
              <td>4</td>
              <td>10</td>
              <td>4</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Re-admissions</td>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
              <td>21</td>
              <td>4</td>
              <td>10</td>
              <td>4</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Re-admissions</td>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
              <td>21</td>
              <td>4</td>
              <td>10</td>
              <td>4</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Re-admissions</td>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
              <td>21</td>
              <td>4</td>
              <td>10</td>
              <td>4</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Re-admissions</td>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
              <td>21</td>
              <td>4</td>
              <td>10</td>
              <td>4</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Re-admissions</td>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
              <td>21</td>
              <td>4</td>
              <td>10</td>
              <td>4</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Re-admissions</td>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
              <td>21</td>
              <td>4</td>
              <td>10</td>
              <td>4</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Re-admissions</td>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
              <td>21</td>
              <td>4</td>
              <td>10</td>
              <td>4</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Re-admissions</td>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
              <td>21</td>
              <td>4</td>
              <td>10</td>
              <td>4</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>3</td>
            </tr>

            <!-- more rows -->
          </table>
        </div>
      </div>
    </div>
    <script src="{% static '/dashboard/js/navigation.js' %}"></script>
    <script src="{% static '/dashboard/js/main.js' %}"></script>
    <script src="{% static '/dashboard/js/charts.js' %}"></script>
  </body>
</html>
